@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Dosis:wght@200..800&family=Emblema+One&family=Fuzzy+Bubbles:wght@400;700&family=Galada&family=Gayathri:wght@100;400;700&family=Gideon+Roman&family=Hammersmith+One&family=IM+Fell+French+Canon+SC&family=Imbue:opsz,wght@10..100,100..900&family=Imperial+Script&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); /*Dongle, Dosis, Emblema One, Fuzzy Bubbles, Galada, Gayathri, Gideon Roman, Hammersmith One, IM Fell French Canon SC, Imperial Script, Koho*/

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column;
    overflow-y: auto; 
    scroll-snap-type: x mandatory;
}

.slide {
    scroll-snap-align: center;
}

/*SECTION COUVERTURE*/
#section_couverture {
    height: 100vh;
    width: 100%;
}

#couverture_logo {
    position: absolute;
    z-index: 10;
    left: 13vw;
    top: clamp(5vh, calc(40vh - 15vw), 80vh);
    height: clamp(1vh, calc(20vw + 13vh), 100vh) ;
    width: clamp(1vw, calc(30vw + 20vh), 100vw);
    background-image: url(Sources/couvertureLogo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(2vh 2vh 1vh #00000090);
}

#couverture_background {
    height: 100%;
    width: 100%;
    background-image: url(Sources/couvertureBg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

/*SECTION SOMMAIRE*/
#section_sommaire {
    height: 100vh;
    width: 100%;
    background-color: #D7D7D7;
    color: #121942;
}

#section_sommaire #inner1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner1 hr {
    content:" ";
    display: block;
    height: 1vw;
    width: 20vw;
    background: #121942;
    border: transparent;
}

#inner1 h1 {
    margin: 2vh;
    font-size: 9vw;
}

#section_sommaire #inner2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    min-height: 10vh;
}

#inner2 .innerCase1 {
    display: flex;
    flex-direction: column;
    border: calc(.2vw + .5vh) #121942 solid;
    flex: 1;
    flex-wrap: nowrap;
    margin: 0 2vw;
    min-height: 10vh;
    padding: 1vh;
}

#inner2 .innerCase1 h1 {
    position: absolute;
    margin-top: calc(-1.5vh - 1vw);
    font-size: calc(1vh + 1vw);
    font-family: 'Emblema One';
    align-self: center;
    text-align: center;
    background-color: #D7D7D7;
    padding: 0 .5vh;
    width: auto;
}

.innerCase1 .line {
    display: flex;
    justify-content: space-between;
}

.line p {
    font-size: 2vh;
    font-family: 'Dosis';
}

#inner3 {
    border: calc(.2vw + .5vh) #121942 solid;
    margin: 2vw;
    padding: 2vh;
}